*{
    font-size: 18px;
}

header{
    background-color: #023047;
    color: aliceblue;
    padding: 5px 10px;
    font-size: 2em;
}

.itemTitle {
    text-decoration: none;
    color: #fb8500;
}

.itemNum{
    color: #ffb703;
    font-size: .8em;
    text-align: right;
}

.itemDesc{
    color: #8ecae6;
    font-size: .6em;
    margin: 0;
}

.itemTitle:hover{
    color: #8ecae6;
}